.destionation-search-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.destination-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style-type: none;
  width: 800px;
}
