.destination-image {
  height: 200px;
  width: 260px;
  /* margin: 5px; */
}

.destination-name {
  font-family: 'Roboto';
  font-size: 20px;
}

.destination-item {
  /* border: 2px solid rebeccapurple; */
  width: fit-content;
  margin: 12px;
}
